extends ../layout.pug

block content
  .container.my-5
    .d-flex.justify-content-between.align-items-center.mb-4
      h1.text-primary.mb-0
        i.bi.bi-people-fill.me-2
        | Pacientes
      a.btn.btn-success(href="/pacientes/nuevo")
        i.bi.bi-person-plus.me-1
        | Nuevo Paciente

    if pacientes.length > 0
      .table-responsive
        table.table.table-hover.align-middle.shadow-sm
          thead.table-primary
            tr
              th 
                i.bi.bi-person
                |  Nombre
              th 
                i.bi.bi-calendar
                |  Nacimiento
              th 
                i.bi.bi-gender-ambiguous
                |  Género
              th 
                i.bi.bi-geo-alt
                |  Dirección
              th 
                i.bi.bi-telephone
                |  Teléfono
              th 
                i.bi.bi-person-lines-fill
                |  Emergencia
              th.text-center Acciones
          tbody
            each paciente in pacientes
              tr
                td= paciente.nombre
                td= paciente.fecha_nacimiento
                td= paciente.genero
                td= paciente.direccion
                td= paciente.telefono
                td= paciente.contacto_emergencia
                td.text-center
                  .btn-group
                    a.btn.btn-outline-primary.btn-sm(href=`/pacientes/${paciente.id}/editar`, title="Editar")
                      i.bi.bi-pencil
                    form(method="POST", action=`/pacientes/${paciente.id}/eliminar`, style="display:inline;", onsubmit="return confirm('¿Eliminar paciente?');")
                      button.btn.btn-outline-danger.btn-sm(type="submit", title="Eliminar")
                        i.bi.bi-trash
    else
      .alert.alert-info.mt-4
        i.bi.bi-info-circle.me-2
        | No hay pacientes registrados. 
        a.alert-link(href="/pacientes/nuevo") Crear primer paciente