extends ../layout.pug

block content
  .container
    .d-flex.justify-content-between.align-items-center.mb-4
      h1 Listado de Pacientes
      a.btn.btn-success(href="/pacientes/nuevo")
        i.bi.bi-person-plus.me-2
        | Nuevo Paciente

    if pacientes.length > 0
      .table-responsive
        table.table.table-striped.table-hover
          thead.table-dark
            tr
              th Nombre
              th Fecha de Nacimiento
              th Género
              th Dirección
              th Teléfono
              th Contacto Emergencia
              th Acciones
          tbody
            each paciente in pacientes
              tr
                td= paciente.nombre
                td= paciente.fecha_nacimiento
                td= paciente.genero
                td= paciente.direccion
                td= paciente.telefono
                td= paciente.contacto_emergencia
                td
                  .btn-group
                    a.btn.btn-sm.btn-outline-primary(href=`/pacientes/${paciente.id}`)
                      i.bi.bi-eye
                    a.btn.btn-sm.btn-outline-warning.mx-1(href=`/pacientes/${paciente.id}/editar`)
                      i.bi.bi-pencil
                    form(
                      method="POST" 
                      action=`/pacientes/${paciente.id}/eliminar` 
                      style="display: inline;"
                      onsubmit="return confirm('¿Estás seguro de que deseas eliminar a este paciente?');"
                    )
                      button.btn.btn-sm.btn-outline-danger(type="submit")
                        i.bi.bi-trash
    else
      .alert.alert-warning
        i.bi.bi-exclamation-triangle.me-2
        | No hay pacientes registrados. 
        a.alert-link(href="/pacientes/nuevo") Crear primer paciente