extends ../layout.pug

block content
  h1.mb-4 Listado de Pacientes
  a.btn.btn-success.mb-3(href="/pacientes/nuevo")
    i.bi.bi-person-plus.me-2
    | Nuevo Paciente
  
  .table-responsive
    table.table.table-striped.table-hover
      thead.table-dark
        tr
          th ID
          th Nombre
          th F. Nacimiento
          th Género
          th Teléfono
          th Acciones
      tbody
        each paciente in pacientes
          tr
            td= paciente.id
            td= paciente.nombre
            td= paciente.fecha_nacimiento
            td= paciente.genero
            td= paciente.telefono
            td
              a.btn.btn-sm.btn-outline-primary.me-2(href=`/pacientes/${paciente.id}`)
                i.bi.bi-eye
              a.btn.btn-sm.btn-outline-warning(href=`/pacientes/${paciente.id}/editar`)
                i.bi.bi-pencil